.periodo {
  text-align: center;
  padding: 1em;
  background-color: #fff;
}

.periodo__titulo {
  font-size: 0.875em;
  font-weight: 600;
  color: #0a2747;
  margin-bottom: 1em;
  animation: fadein 1s ease-in-out;
}

.periodo__produto {
  font-size: 0.75em;
  font-weight: 600;
  color: #0a2c39;
  margin-bottom: 0.5em;
  margin-top: 1em;
  animation: fadein 1s ease-in-out;
}

.periodo__funcionalidade {
  font-family: inherit;
  font-size: 0.625em;
  font-weight: 500;
  color: #fff;
  width: 100%;
  margin-top: 0.2em;
  background: linear-gradient(to bottom, rgba(251, 152, 53, 1) 0, rgba(246, 123, 0, 1) 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  animation: fadein 1s ease-in-out;
}

.periodo__funcionalidade:focus {
  outline: none;
  border-radius: 4px 4px 0 0;
}

.periodo__descritivo {
  display: none;
  font-family: inherit;
  font-size: 0.625em;
  font-weight: 500;
  text-align: initial;
  line-height: 1.3;
  color: #0a2c39;
  padding: 0.5em 1em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.16);
}

.periodo__funcionalidade:focus + .periodo__descritivo {
  display: block;
}
